.main-title {
  font-family: "Montesserat";
  font-weight: 200;
  color: white !important;
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.install {
  color: black;
}

.aboutUs {
  color: black;
}

#section1 {
  text-align: center;
  background: url("./images/faucetleak.gif");
  background-size: cover;
}

#section2 {
  text-align: left;
  background-size: cover;
  color: black;
}

#section3 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
    color: white;
  }
}
